<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-mas-identitymanagement"
      version="0.1.0">
    <name>MASIdentityManagement</name>
    <description>Cordova MASIdentityManagement Plugin</description>
    <license>CA Technologies Ltd.</license>
    <keywords>cordova, MASIdentityManagement, CA Technologies</keywords>

    <js-module src="www/MASIdentityManagementPlugin.js" name="MASIdentityManagementPlugin">
        <clobbers target="MASIdentityManagementPlugin" />
    </js-module>

    <js-module src="www/MASPluginFilteredRequest.js" name="MASPluginFilteredRequest">
        <clobbers target="MASPluginFilteredRequest" />
    </js-module>

	<js-module src="www/MASPluginFilterConstant.js" name="MASPluginFilterConstant">
        <clobbers target="MASPluginFilterConstant" />
    </js-module>

    <dependency id="cordova-plugin-mas-core" url="https://github.com/CAAPIM/Cordova-MAS-Foundation.git" commit="develop" />
    
    <!-- iOS -->
    <platform name="ios" >
        <config-file target="config.xml" parent="/*" >
            <feature name="MASIdentityManagementPlugin" >
                <param name="ios-package" value="MASIdentityManagementPlugin"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/MASIdentityManagementPlugin.h" />
        <source-file src="src/ios/MASIdentityManagementPlugin.m" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MASIdentityManagementPlugin" >
                <param name="android-package" value="com.ca.mas.cordova.identitymanagement.MASIdentityManagementPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <source-file src="src/android/IdentityManagementUtil.java" target-dir="src/com/ca/mas/cordova/identitymanagement" />
        <source-file src="src/android/MASIdentityManagementPlugin.java" target-dir="src/com/ca/mas/cordova/identitymanagement" />       
    </platform>
</plugin>

